@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Phoenix</h1>
    <p>Used Truck Appraisal for the 21<sup>st</sup> Century!</p>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" type="submit" asp-controller="Unit" asp-action="Create">Start an Inspection</button>
    </div>

</div>
