@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Phoenix</h1>
    <p>Used Truck Appraisal for the 21<sup>st</sup> Century!</p>
</div>
<div class="row">
    <p class="lead">Start a New...</p>
    <div class="col-md-6">
        <a class="btn btn-primary" type="submit" href="/Units/Create">Standard Trade</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-info" type="submit" href="#">Fleet Purchase</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-info" type="submit" href="/Units/Index">Find an Inspection</a>
    </div>
</div>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-condensed">
        
    </table>
</div>
