@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Phoenix</h1>
    <p>Used Truck Appraisal for the 21<sup>st</sup> Century!</p>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- @Html.ActionLink("Start an Inspection", "Create", "Units") -->
        <a class="btn btn-primary" type="submit" href="/Units/Create">Start an Inspection</a>
    </div>

</div>
