@page 
@model Phoenix.Pages.Deals.EditModel 
@{ 
    ViewData["Title"] = "Edit Deal"; 
}

<h2>Edit Deal</h2>
<hr />
<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Deal.Id" />

    <div class="form-group ">
        <label asp-for="Deal.DateOfSubmission" class="control-label"></label>
        <div class="input-group">
            <input asp-for="Deal.DateOfSubmission" class="form-control" />
            <span asp-validation-for="Deal.DateOfSubmission" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Update Deal" class="btn btn-default" />
    </div>
</form>

<div>
    <a class="btn btn-default" href="/Appraisals/Create?dealId=@Model.Deal.Id" role="button">Add Appraisal</a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th></th>
        </thead>
        <tbody>
            @foreach(var app in Model.Deal.Appraisals) 
            {
                <tr>
                    <td>@app.Unit.ModelYear</td>
                    <td>@app.Unit.Make</td>
                    <td>@app.Unit.Model</td>
                    <td><a href="/Appraisals/Edit?appraisalId=@app.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }